/bin				export-ignore
/.gitignore			export-ignore
/tests				export-ignore
/raw				export-ignore
/tests				export-ignore
/phpunit.xml.dist	export-ignore
/phpunit			export-ignore
/includes/Doxyfile	export-ignore
/composer.json		export-ignore
/composer.lock		export-ignore
